[submodule "src/references/lwnet"]
	path = src/references/lwnet
	url = https://github.com/agaldran/lwnet.git
[submodule "src/references/TransUNet"]
	path = src/references/TransUNet
	url = https://github.com/Beckschen/TransUNet.git
[submodule "src/references/nnUNet"]
	path = src/references/nnUNet
	url = https://github.com/locdacknownothing/nnUNet.git
