[submodule "src/references/lwnet_forked"]
	path = src/references/lwnet_forked
	url = https://github.com/locdacknownothing/lwnet.git
[submodule "src/references/RSAN"]
	path = src/references/RSAN
	url = https://github.com/locdacknownothing/RSAN.git
[submodule "src/references/TransUNet"]
	path = src/references/TransUNet
	url = https://github.com/locdacknownothing/TransUNet.git
[submodule "src/references/clDice"]
	path = src/references/clDice
	url = https://github.com/jocpae/clDice.git
[submodule "src/references/SA-UNetv2"]
	path = src/references/SA-UNetv2
	url = https://github.com/locdacknownothing/SA-UNetv2.git
[submodule "src/references/SA-UNet"]
	path = src/references/SA-UNet
	url = https://github.com/locdacknownothing/SA-UNet.git
[submodule "src/references/Medical-SAM-Adapter"]
	path = src/references/Medical-SAM-Adapter
	url = https://github.com/locdacknownothing/Medical-SAM-Adapter.git
[submodule "src/references/Pytorch-UNet"]
	path = src/references/Pytorch-UNet
	url = https://github.com/locdacknownothing/Pytorch-UNet.git
[submodule "src/references/pytorch-nested-unet"]
	path = src/references/pytorch-nested-unet
	url = https://github.com/locdacknownothing/pytorch-nested-unet.git
